In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame([
        ['a', 1],
        ['b', 2],
        ['b', 3],
    ])
df.columns = ['name', 'count']
df

  name  count
0    a      1
1    b      2
2    b      3

In [20]:
df.groupby('name').agg('sum').reset_index()

  name  count
0    a      1
1    b      5

In [15]:
a.mean()

      count
name
a       1.0
b       2.5